.footer {
    margin-top: 40px;
    padding: 20px;
    border-top: 1px solid #bfbfbf;
    background-color: #bfbfbf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    margin-top: 10px;
}

.footer-right a {
    margin: 0 10px;
    color: black;
    text-decoration: none;
}