body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #e6e6e6;
  color: #111111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3 {
  color: #111111;
}

p {
  color: #111111;
}

a {
  color: #111111;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

section {
  border-bottom: 1px solid #bfbfbf;
  padding-bottom: 20px;
  margin-bottom: 30px;
}